---
import { Image } from 'astro:assets';
const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section data-animate="fade-right" class="section banner h-screen relative">
  
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title text-default text-4xl font-extrabold tracking-tight leading-tight">
          {title}
        </h1>
        <p class="my-6 text-xl">
        {content}
        </p>
        {
          button.enable && (
            //<a class="btn btn-white mt-8" href={button.link}>
            //  {button.label}
            //</a>
            <button class="relative inline-flex items-center justify-center p-[1.5px] overflow-hidden text-sm font-medium rounded-lg group focus:outline-none">
              <!-- Borde giratorio que se detiene en hover -->
              <span class="absolute inset-0 rounded-lg bg-[conic-gradient(from_0deg,#217276,#f3a415,#217276)] [animation:spin_6s_linear_infinite] group-hover:[animation:none] transition-all duration-500"></span>

              <!-- Contenido del botón -->
              <span
                class="relative z-10 px-5 py-2.5 bg-white dark:bg-gray-900 text-gray-900 dark:text-white rounded-md 
                      transition-all duration-500
                      group-hover:bg-gradient-to-br group-hover:from-[#217276] group-hover:to-[#f3a415]
                      group-hover:text-white dark:group-hover:text-gray-900">
                Contáctanos
              </span>
            </button>
          )
        }

      </div>
      <div class="lg:col-6">
        <Image
          class="w-full object-contain"
          alt="banner"
          src={image}
          width={603}
          height={396}
        />
      </div>
    </div>
  </div>
  {/*
  <Image
    class="banner-shape absolute -top-32 right-0 -z-[1] w-full max-w-[30%]"
    alt="banner"
    src="/images/banner-shape-paqari.png"
    width={496}
    height={466}
  />
   */}
</section>
