---
import type { GetStaticPaths } from "astro";
import Shape from "@components/Shape.astro";
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import BlogSingle from "@layouts/BlogSingle.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import Blockquotek from "@shortcodes/Blockquote";
import { getEntryBySlug } from "astro:content";
import ProductPage from "@components/products/ProductPage.astro";
import products from "@data/products.json"; // Asegúrate que tienes esto en tsconfig `paths`


interface Product {
  data: {
    id_product: string;
    category: string;
  };
}

export async function getStaticPaths() {
  const paths = [];
  const locales = ['es', 'en'];
  for (const lang of locales) {
    for (const product of products) {
      paths.push({
        params: {
          lang,
          category: product.category,
          id: product.id_product,
        },
      });
    }
  }

  return paths;
}

const { category, id } = Astro.params;

//console.log(category)
//console.log(id)
//console.log('products')
//console.log(products)

const data_by_id = products.find(
  (product) =>
    String(product.id_product) === String(id) &&
    product.category.trim().toLowerCase() === category.trim().toLowerCase()
);

//console.log('data_by_id')
//console.log(data_by_id)
                                                        
const { title, meta_title, description, image } = (data_by_id as any)?.data || {};
// Aqui!!!

---
<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>

  <section class="border border-green-700 section mx-4 md:mx-10 lg:mx-20 mt-12">
    <ProductPage data_by_id={data_by_id}/>
  </section>
</Base>