---
// Parte del servidor (Astro)
import "photoswipe/style.css";

const { id_product } = Astro.props;

const allImages = Object.keys(import.meta.glob('/public/images/products/*/*'));
const images = allImages
  .filter(img => img.includes(`/products/${id_product}/`))
  .map(img => ({
    src: img.replace('/public', ''),
    isMain: img.includes(`product-${id_product}-1.jpg`) || img.includes('product.jpg')
  }));

const mainImage = images.find(img => img.isMain);
const galleryImages = images.filter(img => !img.isMain);
---

<div class="flex flex-col gap-y-6" id="galery">
  <div class="border-2 border-black rounded-4xl">
    {mainImage && (
      <a 
        href={mainImage.src}
        data-pswp-width="400"
        data-pswp-height="400"
      >
        <img
          src={mainImage.src}
          class="w-full h-full aspect-square object-contain rounded-xl"
          alt=""
        />
      </a>
    )}
  </div>
  <div class="border-1 border-black-600 rounded-1 flex flex-row gap-1 h-24">
    {galleryImages.map((image) => (
      <a
        href={image.src}
        data-pswp-width="400"
        data-pswp-height="400"
      >
        <img 
          src={image.src}
          class="w-24 h-24 rounded-md cursor-pointer object-contain"
          alt=""
        />
      </a>
    ))}
  </div>
</div>

<script>
  async function getImageSize(src) {
    return new Promise((resolve) => {
      const img = new Image();
      img.src = src;
      img.onload = () => {
        resolve({ width: img.naturalWidth, height: img.naturalHeight });
      };
    });
  }

  document.addEventListener("astro:page-load", async () => {
    const anchors = document.querySelectorAll("#galery a");

    for (const a of anchors) {
      const img = a.querySelector("img");
      if (img) {
        const { width, height } = await getImageSize(img.src);
        a.dataset.pswpWidth = width;
        a.dataset.pswpHeight = height;
      }
    }

    const { default: PhotoSwipeLightbox } = await import("photoswipe/lightbox");

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#galery",
      children: "a",
      pswpModule: () => import("photoswipe"),
      //showHideAnimationType: 'zoom',
      showHideAnimationType: 'fade', // 👉 se desvanece al cerrar
      showAnimationDuration: 300,    // (opcional) animación de apertura
      hideAnimationDuration: 200     // 👈 duración de fade-out al cerrar
    });

    lightbox.init();
  });
</script>