---
import "photoswipe/photoswipe.css"

const { id_product } = Astro.props;

console.log(id_product)

const allImages = Object.keys(import.meta.glob('/public/images/products/*/*'));
const images = allImages.filter(
  (image) => image.includes(`/products/${id_product}/`) && !image.includes(`product-${id_product}-1.jpg`)
);
---

<div class="flex flex-col gap-6 lg:w-2/4" id="galery">
  <!-- Imagen fija (siempre product-1-1.jpg) -->
  <a href={`/images/products/${id_product}/product-${id_product}-1.jpg`}
    data-pswp-width="1280" 
    data-pswp-height="1280" 
    target="_blank"
  >
    <img src={`/images/products/${id_product}/product-${id_product}-1.jpg`} class="w-full h-full aspect-square object-cover rounded-xl"  alt="" />
  </a>

  <!-- Galería dinámica (desde la segunda imagen en adelante) -->
  <div class="flex justify-between h-24">
    {images.map((image, i) => (
      <a href={image.replace('/public', '')}
        data-pswp-width="1280" 
        data-pswp-height="1280" 
        target="_blank"
      >
        <img src={image.replace('/public', '')} class="w-24 h-24 rounded-md cursor-pointer" alt="" />
      </a>
    ))}
  </div>
</div>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox"

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#galery",
        children: "a",
        pswpModule: () => import("photoswipe")
    })

    //revisar
    document.addEventListener(
        'astro:page-load',
        () => { if (lightbox) lightbox.init() },
        { once: false },
      )
</script>